#1. Generate the following pattern
  	*
   	*  *
	*  *  *
 	*  *  *  *
 	*  *  *  *  *

In [1]:
a = 5
b = 1
while a>0:
  while b<=5:
    print("*"*b)
    b = b+1
    a = a-1

*
**
***
****
*****

2. Display multiplication table of K. Take k value from user
 	Ex:      7 x 1 =7
    		7 x 2 = 14   .....

In [2]:
a=int(input("enter number"))
x=1

while(x<=12):
  print("{}*{}={}".format(a,x,a*x))
  x+=1

enter number7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
7*11=77
7*12=84

3. Roots of quadratic equation
  	Take the coefficients a,b,c from the user

In [3]:
import cmath
a = int(input("enter the value of 'a': "))
b = int(input("enter the value of 'b': "))
c = int(input("enter the value of 'c': "))
d = (b ** 2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

enter the value of 'a': 2
enter the value of 'b': 3
enter the value of 'c': 1
The solution are (-1+0j) and (-0.5+0j)

4. Convert a decimal number to Binary

In [4]:
number = int(input("Enter any decimal number: "))
print("Equivalent Binary Number: ", bin(number))

Enter any decimal number: 8
Equivalent Binary Number:  0b1000

5. Generate first N number of Fibonacci numbers. Take N value from the user

In [5]:
n = int(input("enter the value of 'n': "))
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci Series: ",end = " ")
while (count <= n):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

enter the value of 'n': 10
Fibonacci Series:  0 1 1 2 3 5 8 13 21 34